<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ITVDN_Java_EE_ex003_Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>pack.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Simple</servlet-name>
    <servlet-class>ex_001_simpleServlet.SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Simple</servlet-name>
    <url-pattern>/hello_world</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Second</servlet-name>
    <servlet-class>ex_002_servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Param</servlet-name>
    <servlet-class>ex_003_servlet_params.ServletParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Param</servlet-name>
    <url-pattern>/params</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParamEnum</servlet-name>
    <servlet-class>ex_004_params.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamEnum</servlet-name>
    <url-pattern>/params_enum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Arif</servlet-name>
    <servlet-class>ex_005_error.ArifmeticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Arif</servlet-name>
    <url-pattern>/arifmetic</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>Thread</servlet-name>
        <servlet-class>ex_006_servlet_multithreading.ArifmeticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Thread</servlet-name>
        <url-pattern>/arifmetic_mult</url-pattern>
    </servlet-mapping>
  
</web-app>